body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #212121, #424242);
}

img {
    max-width: 50%;
    max-height: 50%;
}